a{
  text-decoration: none;

}
.slider {
/* background: grey; */
color: #222;
font-family: arial;
font-weight: bold;
width: 852.406px;
height: 386px;
display: flex;
overflow-x: hidden;

}
.slide {
width: 260px;
margin-right: 10px;
margin-top: 70px;
margin-left: 10px;
height: 256px;
background: white;
border: 0.5px solid #030648;;
border-radius: 10px;
position: relative;
}
.slideImg{
width: 260px;
height: 100%;
object-fit: cover;
object-position: 50% 0;
/* border: 10px; */
border-radius: 10px;
}
.title{
font-size: 17px;
margin-right: 12px;
margin-left: 12px;
margin-top: 10px;
padding-bottom: 10px;
color: #333333;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;

}
div.slide{
text-overflow: ellipsis;
}
.btnLeft,.btnRight{
top: 180px;
width: 40px;
height: 100px;
margin-top: -22px;
border: none;
opacity: 90%;
background: #030648;
position: absolute;

}
.btnRight{
margin-left: 812px;
}
.btnRight:hover, .btnLeft:hover{
  opacity: 50%;
}
.view{
  position: sticky;
  width: 260px;
  height: 30px;
  background: rgb(1,1,1,80%);
  color: white;
  margin-top: 133px;
  text-align: center;
}
.page{
  margin-top: 360px;
  margin-left: 426.2px;

}
.pageNumber{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  position: sticky;
  float: left;
  margin-right: 4px;

}
.active{
  background: orange;
}

/* ------------- */


body{
  background: linear-gradient(to right, #4797ff,#001d42);

}


.navlogo{
  height:6rem;
  margin-top:1rem;
  margin-left:1rem;
}

/* -------------- */



.navbar-inline{
  display: inline-block;
  position: absolute;
  top:0;
  right:0;
}
.nav-click{
  color:white;
  font-size: 1.25rem;
}
.nav-click:hover{
  color:white;
  font-size: 1.25rem;
  text-decoration: underline white;
}

.desc{
    width:35rem; 
}
.desc h1{ 
    color:white;
    font-size:2.5rem;
    margin-top:8rem;

}
.desc p{
    color:white;
    font-size:2rem;
}
