@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Courgette&family=Lobster&family=Patrick+Hand&display=swap');

html,body{
    overflow-x: hidden;
}
    body{
    background-color: #213a62;
  
}
.nav-click{
    color:white;
    font-size:2rem;
    font-family: 'Caveat', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Patrick Hand', cursive;
}
#home{
    display:flex;
    flex-wrap: wrap-reverse;
    margin:0rem 0 0 15rem;
}
.desc{
    width:35rem; 
}
.desc h1{
    color:white;
    font-size:2.5rem;
    margin-top:6rem;

}
.desc p{
    color:white;
    font-size:1.5rem;
}
.logo{
    height:8rem;
}
.logophn{
    display:none;
}
.homeimage{
    margin-left:6rem;
    

}

.homeimage img{
    height:25rem;
}
 @media (max-width:1024px)
 {
    .logo{
  display:none;
    }
    .desc h1{
        color:white;
        font-size:1.5rem;
        margin-top:3rem;
    
    }
    #home{
        display:flex;
        flex-wrap: wrap-reverse;
        margin:5rem 2rem 0 2rem;
    }
    .desc p{
        color:white;
        font-size:1rem;
    }
    .nav-click{
        color:white;
        font-size:1rem;
        font-family: 'Caveat', cursive;
        font-family: 'Courgette', cursive;
        font-family: 'Lobster', cursive;
        font-family: 'Patrick Hand', cursive;
    }
    .logophn{
        height: 6rem;
        display: inline;
    }
    .homeimage{
        margin-left:0rem;
 
    
    }
    .homeimage img{
        height:15rem;
    }
 }
